{% extends 'polls/base.html' %}
{% load static %}

{% block content %}

<div style="padding-left:30px">
	<h3>
		Add an image url and text here to create a BaseImage.
	</h3>
	<p>
		Form with URL and Text input fields.
	</p>
	<form class="modal-content" action="{% url 'polls:add_base' %}" method="post" style="padding-top: 50px;padding-bottom: 50px">
		{% csrf_token %}
		<div class="container">
		<label for="url"><b>Image URL</b></label>
		<input type="text" placeholder="Enter Image URL here." name="url" required>

		<label for="imageText"><b>Image Scene Description</b></label>
		<input type="text" placeholder="Enter a brief description of the scene." name="imageText" required>

		<button type="submit" style="width:40%">Submit</button>
		</div>
	</form>
</div>


{% endblock %}