{% extends 'polls/base.html' %}

{% load static %}
{% block content %}

<div style="padding-left: 30px">
	{% if not action_list %}
	<p style="font-size:25px; text-align:center">
		Now we will choose images which depict your idea for the story going forward.
	</p>
	{% endif %}
	<p>
		<span style="font-size:25px">The chain :</span> 
	</p>
	

	<p>
	{% if story %}
		{% for items in story %}
		<img src="{{items.url}}" style="padding-right: 5px; height:150px;width:200px;padding-bottom: 20px; padding-left:60px" alt="image url">
		{% endfor %}
	{% else %}
		<img src="{{base_image.url}}" style="padding-right: 5px; height:150px;width:200px;padding-bottom: 20px; padding-left:60px" alt="image url">
	{% endif %}
	</p>
	{% if action_list %}
		<p>
			<span style="font-size:25px">Actions Added till now  : </span> 
		</p>
		{% for images in action_list %}
		<img src="{{images.url}}" style="padding-right: 20px; height:300px;width:300px;padding-bottom: 20px" alt="image url">
		{% endfor %}
	{% else %}
		<p>
			<span style="font-size:20px">You have not added actions yet. Choose from below to add. </span> 
		</p>
	{% endif %}
	<span style="font-size:20px">Select an image to continue the story: </span>
	<p>
		
		<form action="{% url 'polls:add_success' story_id%}" method="post">
		{% csrf_token %}
		
		{% for items in action_images %}
		<img src="{{items.url}}" style="padding-right: 5px; height:150px;width:200px;padding-bottom: 20px; padding-left:60px">
		<input type="radio" name = "action_image_id" id="action_image{{items.id}}" value={{items.id}}>
		{% endfor %}
		

	</p>
	<input type="submit" value="Submit">
	</form>
	<div style="padding-top:20px">
		<p style="font-size:20px">
			Did not find a suitable image ? You can add your own here : 
		</p>
		<form action="{% url 'polls:add_action_image' story_id %}" method="post">
		{% csrf_token %}
			<input type="text" name="url" placeholder="Enter Image URL here">
			<input type="submit" value="Submit" onclick="AddSuccess()">
		</form>
	</div>
</div>
<script type="text/javascript">
	function AddSuccess()
        {
            alert("New Image Added..");
        }
</script>
{% endblock %}