{% extends 'polls/base.html' %}
{% load static %}
{% block content %}

<h3 style="padding-left:30px">
<br>
<br>
	 Choose from any one of the following images to continue the story:
	 <br>
	 <br>
	 <div style="padding-left:60px">

	 <!-- <form action="#" method ="post">
	 {% csrf_token %}
	 <select name="image_select" multiple>
	 {% for items in images %}
	 	<option value ="1"> a{{ items.id }}<img src="{{items.image_url}}" style="height:300px;width:300px;padding-right: 20px">
	 	</option>
	 	<option value = "2"> <img src="{% static 'polls/images/pen_paper.jpg' %}" style="height:400px;width:500px;padding-left: 100px"/>
	 	</option>

	 {% endfor %}
	 </select>
	  <input type="submit">
	 </form> -->
	 <ul>
	 	<form action="{% url 'polls:check_chain' chain_id%}" method="post">

	 		{% csrf_token %}
	 		<p>
			{% for item in images %}
			<!--<li>
				<h3>id {{item.id}}</h3>-->
			<img src={{item.image_url}} style="padding-right: 5px; height:300px;width:350px;padding-bottom: 20px; padding-left:60px">
			<input type="radio" name="image_id" id="image{{key}}" value={{item.id}}>
			
			{% endfor %}
			</p>
			<input type="Submit" value="Submit">
	 	</form>
	
	
	 </div>	
</h3>
{% endblock %}