{% extends "polls/base.html" %}

{% block content %}

<div>
{% if path_list %}
<div class="col-sm-12">
	<h3 style="text-align: center">
		Choose which path you want for this scenario.
	</h3>
	<p>
		Scenario : {{ scenario.scenario_text }}
	</p>
</div>
<div>
	<div class="col-sm-4">
		<ul>
			{% for item in path_list %}
			<li>
				<a href="{% url 'polls:choose_dest' 2 scenario.id item.id %}">{{ item.input_text }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% else %}
<div class="col-sm-12">
	<h3 style="text-align: center">
		No scenarios available.
	</h3>
</div>
{% endif %}
</div>
{% endblock %}