{% extends "polls/base.html" %}
{% block content %}
{% load static %}
<div class="row" style="height:800px">
	
	<div class="row">
		<p>
			<br>
			<br>
			<br>
		</p>
	</div>


	<div class="col-sm-1">
	</div>
	<div class="col-sm-5" id="block1">
	<h1 style="text-align: center">Write a new story</h1>
	<br>
	<br>
	<img src="{% static 'polls/images/pen_paper.jpg' %}" style="height:400px;width:500px;padding-left: 100px"/>
	
	</div>
	<div class="col-sm-5" id ="block2">
	<h1 style="text-align: center">Edit a story</h1>
	<br>
	<br>
	<img src="{% static 'polls/images/editStory.jpg' %}" style="height:400px;width:500px ;padding-left:70px"/>
	</div>
	<div class="col-sm-1">
	</div>

	</div>


{% endblock %}