{% extends "polls/base.html" %}

{% block content %}


<!-- <h1> Hello</h1> -->
<div class="row">
<p style="padding-top:30px">
</p>
<br>
<br>
</div>



<div class="row">
<div class="col-sm-1">
</div>
<div class="col-sm-4">
	
		<img src="{{ im_link.image_from.image_url }}" id="images" style="height:250px; width:250px">

</div>
<div class="col-sm-2">
</div>
<div class="col-sm-4" id="image_to">
	<img src ="{{ im_link.image_to.image_url }}" id ="images" style="height:250px; width:250px">
</div>
<div class="col-sm-1">
</div>
</div>

<div class="row" style="padding-top:30px">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-8" style="text-align: center">
	<form action="{% url 'polls:update_link' im_link.id %}" method="post">
		{% csrf_token %}
		<input type="radio" name="choice" id="choiceYes" value="yes"/>
		<label for="choiceYes" style="padding-right:50px">Yes</label>
		<input type="radio" name="choice" id="choiceNp" value="no"/>
		<label for="choiceNo" style="padding-right:30px">No</label>
		<br>
		<input type="submit" value="Submit"/>
	</form>
	</div>
</div>







{% endblock %}