{% extends "polls/base.html" %}

{% block content %}

<div>
{% if sc_list %}
<div class="col-sm-12">
	<h3 style="text-align: center">
		Choose which scenario you want to begin from.
	</h3>
</div>
<div>
	<div class="col-sm-4">
		<ul>
			{% for item in sc_list %}
			<li>
				<a href="{% url 'polls:choose_path' 1 item.id %}">{{ item.scenario_text }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% else %}
<div class="col-sm-12">
	<h3 style="text-align: center">
		No scenarios available.
	</h3>
</div>
{% endif %}
</div>
{% endblock %}