{% extends 'polls/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:30px">
	<h2>
		Welcome {{ user.username }}
	</h2>

	<div>
		<h3>
			Your Added Stories:
		</h3>
		{% if base_images %}
		<p>
			<!-- Showing images here. -->
			{% for image in base_images %}
			<div>
				<img src="{{image.url}}" style="padding-right: 5px; height:300px;width:350px;padding-bottom: 20px; padding-left:60px">
				<br>
				<p>
					{{ image.text }}
				</p>
			</div>
			{% endfor %}
			<a href="{% url 'polls:add_base' %}">Click here</a> to add a story.
		</p>
		{% else %}
		<p>
			You havent added any stories yet. <a href="{% url 'polls:add_base' %}">Click here</a> to add a story.
		</p>
		{% endif %}
	</div>

</div>


{% endblock %}