{% extends 'polls/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:40px; padding-top:10px">

<br>

	<h2 style="text-align: center">
		<b>Welcome {{ user.username }}!</b>
	</h2>
	<p>
		Welcome to your Profile. You can see your added Base Images, view your added stories and scripts here.
	</p>
	<br>
	<div>
		<h3>
			<u>Your Uploaded Story Bases</u>
		</h3>
		<p>
		You can see your uploaded images (Base Images) here. To view the stories beginning with the images, click on them.
	</p>
		<br>
	</div>	

		{% if base_images %}
	
			<!-- Showing images here. -->
			<div class="row">
			{% for image in base_images %}
			
				<div class="col-sm-4">
					<div>
					<a href="{% url 'polls:select_story' image.id %}">
				<img src="{{image.url}}" style="padding-right: 5px; height:150px;width:200px;padding-bottom: 20px; padding-left:10px;position: inline"></a>
				</div>
				<span style ="padding-right: 250px"><i>{{ image.text }}</i></span>
				</div>

			{% endfor %}
			</div>
			{% else %}
		<p>
			You haven't added any new Base Images yet. <a href="{% url 'polls:add_base' %}">Click here</a> to add one.
		</p>
		{% endif %}
		
			<p style="text-align:center;"">
			<span style="font-size: 15px"><a href="{% url 'polls:add_base' %}"><u>Click here</a> to go back and start a new Story.</u></span>
			</p>
		
		
		<br>
		<h3><u>Your Written Stories and Their Votes</u></h3>
		<p>
			Here you can keep a track of all the scripts you have written for stories. You can view scripts written by other users for them too.
		</p>
		<br>
		<div>
		{% for items in text_story %}
		
		<p>
		<span style="font-size: 18px"><i>{{items.story_text}}</i></span> <a href="{% url 'polls:read_stories' items.story.id %}">View Story</a>
		</p>
		<p>
		<span style="font-size:22px;">Votes are {{items.votes}}</span>
		</p>
		<br>
		{% endfor %}
		</div>
		<!-- showing story chains created by user -->
		<div>
		{% if stories %}
		<br>
		<h3><u>Created Stories</u></h3>
		<p>
			Your added stories. All the stories for which you have added images are shown here.
		</p>
		<p>
			To see if there are any written scripts for them, or to write scripts for these stories, click on "Scripts" for the story.
		</p>
		<br>

		<ul>
		 {% for key, value in stories.items %}
		 <li>
		
			<form action="{% url 'polls:work_story' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="story_id" value="{{key}}">
				{% for items in value %}
				<img src="{{items.url}}" style="padding-right: 5px; height:150px;width:200px;padding-bottom: 20px; padding-left:60px">
				{% endfor %}
				<input style="margin-left:20px" type="submit" value="Scripts">
			</form>
		</li>
		{% endfor %}
		</ul>

		{% else %}
			You have not formed any story chains yet.
		{% endif %}

		</div>
		<br>
		<p style="text-align:center;"">
		<span style="text-align:center; font-size: 15px"><u>To continue a story by adding images, click <a href="{% url 'polls:make_sequence' %}">here.</a></u></span>
		</p>

</div>




{% endblock %}