{% extends 'polls/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left: 30px">
	<div style="padding-top: 50px">
	{% for image in image_list %}
	<img src="{{image.url}}" style="padding-right: 20px; height:200px;width:200px;padding-bottom: 20px" alt="image url">
	{% endfor %}
	</div>

	<div style="padding-top:30px">
		<h3>
			Showing written texts for this story.
		</h3>
		
		{% if storyTexts %}
		<p>
			You can vote for a story text here too. (PS: It is recommended.)
		</p>
		<form action="{% url 'polls:read_stories' story_id %}" method="post">
		{% csrf_token %}
		{% for st in storyTexts %}
		<div>
			<input type="radio" name="story_text_id" id="st{{st.id}}" value={{st.id}}>	User : {{ st.user.username }}
			<p>
				Text : {{ st.story_text }}
			</p>
		</div>
		<br>
		{% endfor %}
		<input type="submit" value="Vote">
		</form>
		{% else %}
		<p>
			There are no story texts written for this story yet.
		</p>
		{% endif %}
	</div>
</div>
{% endblock %}