{% extends 'polls/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left: 30px">
	
	<h3>
		Stories you can add text to
	</h3>
	<form action="{% url 'polls:work_story' %}" method="post">
	{% csrf_token %}
	{% for key, value in new_dict.items %}
	<div>
		<input type="radio" name="story_id" id="story{{key}}" value={{key}} required>
		{% for image in value %}
		<img src="{{image.url}}" style="padding-right: 5px; height:150px;width:200px;padding-bottom: 20px; padding-left: 60px" alt="image url">
		{% endfor %}
	</div>
	{% endfor %}
	<input type="submit" value="Submit">
	</form>
	


	
	

	<br>
	<h3>
		Recommended Stories
	</h3>
	<form action="{% url 'polls:work_story' %}" method="post">
	{% csrf_token %}
	{% for key, value in pop_dict.items %}
	<div>
		<input type="radio" name="story_id" id="story{{key}}" value={{key}} required>
		{% for image in value %}
		<img src="{{image.url}}" style="padding-right: 5px; height:150px;width:200px;padding-bottom: 20px; padding-left:60px" alt="image url">
		{% endfor %}
	</div>
	{% endfor %}
	<input type="submit" value="Submit">
	</form>




	<br>
	<h3>
		Other Stories
	</h3>
	<form action="{% url 'polls:work_story' %}" method="post">
	{% csrf_token %}		
	{% for key, value in other_dict.items %}
	<div>
		<input type="radio" name="story_id" id="story{{key}}" value={{key}} required>
		{% for image in value %}
		<img src="{{image.url}}" style="padding-right: 5px; height:150px;width:200px;padding-bottom: 20px; padding-left:60px" alt="image url">
		{% endfor %}
	</div>
	{% endfor %}
	<input type="submit" value="Submit">
	</form>
</div>
{% endblock %}