{% extends 'polls/base.html' %}

{% load static %}
{% block content %}

<div>
	Now Select the second image in this sequence :
	<form action="{% url 'polls:add_story' first_image_id%}">

	 		{% csrf_token %}
	 		<p>
			{% for item in images %}
			<!--<li>
				<h3>id {{item.id}}</h3>-->
			<img src={{item.image_url}} style="padding-right: 5px; height:300px;width:350px;padding-bottom: 20px; padding-left:60px">
			<input type="radio" name="image_id" id="image{{key}}" value={{item.id}}>
			
			{% endfor %}
			</p>
			<input type="Submit" value="Submit">
	 	</form>
</div>
{% endblock  %}