#logincolor
{
	background-color:#fefefe;
	height:600px;
}

#indexpage
{
	background-color: #42f48f;
	color:black;
}
#inputcolor
{
	color:black;
}

#heading
{
	font-size:30px;
}
#block1
{
	background-color:#418cf4;
	height:600px;

}

#block2
{
background-color:#8841f4;
	height:600px;
}

#images
{
	height:250px;
	width:250px;
}

#image_to
{
	height:250px;
	width:250px;
}
/*#id01 {
    left: 0;
    
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;  /*5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
#log-container
{
	margin :5% auto 15% auto;
	border: 1px solid #888;
	background-color:#88b2f7;
}
/*
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
#log input[type=text], #log input[type=password],#log button[type=submit]  {
    width: 80%;
    padding: 10px 10px 10px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #111;
    box-sizing: border-box;
    align-self: : center;

}
